
  <div class="card-background cart-border-table">

  <div class="title col-sm-12">Cart</div>

  <table class="table ">
    <thead>
      <tr>
        <th></th>
        <th class="article-column">Article</th>
        <th class="quantity-column">Quantity</th>
        <th class="price-column">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart$ | async">
        <td>
          <span (click)="removeCartItem(cartItem)" class="delete-icon"></span>
        </td>
        <td class="article-column">{{ cartItem.name }}</td>
        <td class="quantity-column">{{ cartItem.quantity }}</td>
        <td class="price-column">{{ cartItem.price }}</td>
      </tr>
    </tbody>

      <tfoot *ngIf="(cart$ | async)?.length > 0">
        <tr>
          <td></td>
          <td colspan="2" class="total-price">Total price:</td>
          <td class="price-column">{{ totalPrice | async | number: '1.2-2'}}</td>
        </tr>
      </tfoot>
  </table>
</div>

