.title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.article-column{
  min-width: 150px;
}

.quantity-column{
min-width: 100px;
text-align: center;
}

.price-column{
  min-width: 100px;
  text-align: center;
}

.total-price {
  text-align: right;
  padding-right: 5px;
}

.delete-icon {
  height:20px;
  cursor: pointer;
  content: url("src/assets/icons/times-circle-regular.svg")
}

.card-background {
  background-color: white;
}

/* .border-table {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: 10px solid #ffe685;
} */

.cart-border-table {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: 10px solid #ffe685;
  border-radius: 50px;
}
