<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 offset-md-2">
          <span>Rare Holo : </span>
          <input type="checkbox" (change)="refreshCards($event)" />
        </div>
  </div>

  <div class="row">
    <div class="col-sm-8 border-table background-table">
      <div table-responsive>

      <table class="table table-striped">
        <thead>

          <tr>
            <th>Name</th>
            <th>Rarity</th>
            <th class="little-content">Pokedex number</th>
            <th class="little-content">Hp</th>
            <th class="little-content">Price</th>
            <th colspan="2">
              <img
              class="cart-svg"
              src="./assets/icons/shopping-cart-solid.svg"
              />
            </th>
          </tr>
        </thead>
        <tbody>

        <tr *ngFor="let card of cards$ | async">
          <td>{{ card.name }}</td>
          <td>{{ card.rarity }}</td>
          <td class="little-content">
            {{
              card?.nationalPokedexNumbers[0]
                ? card.nationalPokedexNumbers[0]
                : "N/A"
            }}
          </td>
          <td class="little-content">{{ card.hp }}</td>
          <td class="little-content">{{ getPrice(card) }}</td>
          <td>
            <img
              class="product-action"
              src="./assets/icons/plus-solid.svg"
              (click)="addCard(card)"
            />
          </td>
          <td>
            <img
              class="product-action"
              src="./assets/icons/minus-solid.svg"
              (click)="removeCard(card)"
            />
          </td>
        </tr>
      </tbody>

      </table>
    </div>

    </div>

    <div class="col-sm-4 ">
      <app-cart-list></app-cart-list>
    </div>
  </div>
</div>
